<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kikoteam.mobileschool">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".chat.ClassroomChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".work.WorkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".avatar.newAvatar.OtherAccessorySelector"
            android:screenOrientation="portrait" />
        <activity
            android:name=".avatar.newAvatar.EyesAccessorySelector"
            android:screenOrientation="portrait" />
        <activity
            android:name=".avatar.newAvatar.EarSelector"
            android:screenOrientation="portrait" />
        <activity
            android:name=".avatar.newAvatar.NoseSelector"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Initializer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".avatar.newAvatar.SaveAvatar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".avatar.newAvatar.HairSelector"
            android:screenOrientation="portrait" />
        <activity
            android:name=".avatar.newAvatar.MouthSelector"
            android:screenOrientation="portrait" />
        <activity
            android:name=".avatar.newAvatar.EyesSelector"
            android:screenOrientation="portrait" />
        <activity
            android:name=".avatar.newAvatar.BaseSelector"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registerLogIn.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registerLogIn.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registerLogIn.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registerLogIn.AgreeActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>